html {
    background: #e6e6e6;
}

h1 {
    text-align: center;
    color:  #b3b3b3;
    font-size: 3.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: center;
    margin-top: 0px;
}

#logo {
    postion: relative;
    margin-top: 0px;
}

.image img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
	-webkit-transition: all 0.5s ease; /* Safari et Chrome */
	-moz-transition: all 0.5s ease; /* Firefox */
	-ms-transition: all 0.5s ease; /* Internet Explorer 9 */
	-o-transition: all 0.5s ease; /* Opera */
	transition: all 0.5s ease;
}
.image:hover img {
/* L'img est grossie de 5% */
	-webkit-transform:scale(1.05); /* Safari et Chrome */
	-moz-transform:scale(1.05); /* Firefox */
	-ms-transform:scale(1.05); /* Internet Explorer 9 */
	-o-transform:scale(1.05); /* Opera */
	transform:scale(1.05);
}

#nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}